@(property: com.bms.property.Property)

@import com.bms.property.Property
@import views.html.expenses.expensesScript
@import com.bms.property.Expenses



<div class="col-md-6">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">
                Expenses
                <!--<button type="button" id="Edit" class="btn active btn-primary btn-xs pull-right" data-toggle="modal" data-target="#myModal">-->
                <button type="button" id="btn-expense-add" class="btn active btn-primary btn-xs pull-right">
                    Edit
                </button>
            </h3>
        </div>
        <section id="content">
            <div id="container-expenses">

            </div>
        </section> <!-- #content -->
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Property Expenses</h4>
                    </div>
                    <div class="form-group">
                        <label>School Tax</label>
                        <input class="form-control" id="School_Tax" type="number">
                    </div>
                    <div class="form-group">
                        <label>Municipal Tax</label>
                        <input class="form-control" id="Municipal_Tax" type="number">
                    </div>
                    <div class="form-group">
                        <label>Snow Removal</label>
                        <input class="form-control" id="SnowRemoval" type="number">
                    </div>
                    <div class="form-group">
                        <label>Administration</label>
                        <input class="form-control" id="Administration" type="number">
                    </div>
                    <div class="form-group">
                        <label>Insurance</label>
                        <input class="form-control" id="Insurance" type="number">
                    </div>
                    <div class="form-group">
                        <label>Heating</label>
                        <input class="form-control" id="Heating" type="number">
                    </div>
                    <div class="form-group">
                        <label>Electricity</label>
                        <input class="form-control" id="Electricity" type="number">
                    </div>
                    <div class="form-group">
                        <label>Maintenance</label>
                        <input class="form-control" id="Maintenance" type="number">
                    </div>
                    <div class="form-group">
                        <label>Others</label>
                        <input class="form-control" id="Others" type="number">
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="Save" class="btn btn-success" data-dismiss="modal">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
<script id="expenses-" type="text/x-handlebars-template">
    <div class="entry">
        <h1>{{title}}</h1>
        <div class="body">
            {{body}}
        </div>
    </div>
</script>

<script id="expenses-template" type="text/x-handlebars-template">
    <li class="expenses">
        <span class="test">School Tax: {{School_Tax}}</span>
    </li>
</script>

<script type="text/javascript">

     $(function(){

       // $('div#container-expenses').trigger('loadExpenses', [@property.id]);
       // $('div#container-expenses').on('loadExpenses',loadExpenses);

       function loadExpenses(event, id){
         var $content = $('#container-expenses');
         var json = {"ID" : parseInt(id)};
            $.ajax({
                method: 'GET',
                data: json,
                contentType: 'application/json; charset=utf-8',
                dataType: 'JSON',
                url: '@controllers.routes.ExpensesController.getExpensesByPropertyID()',
                success: function(data, textStatus, jqXHR){

                            $content.html(compileExpenses(event,data));
                            console.log(compileExpenses(event,data));

                        },
                error: function(errorThrown, textStatus, jqXHR){
                            console.log("OUPS");
                        }
            });

        };


        $('button.btn-success').on('click', function(e){
            e.preventDefault();
            var test = @property.id
            var json = {
                        "Property_Expenses_ID" : @property.id,
                        "School_Tax" : parseInt($("#School_Tax").val()),
                        "Municipal_Tax" : parseInt(($("#Municipal_Tax").val())),
                        "SnowRemoval" : parseInt($("#SnowRemoval").val()),
                        "Administration" : parseInt($("#Administration").val()),
                        "Insurance" : parseInt($("#Insurance").val()),
                        "Heating" : parseInt($("#Heating").val()),
                        "Electricity" : parseInt($("#Electricity").val()),
                        "Maintenance" : parseInt($("#Maintenance").val()),
                        "Others" : parseInt($("#Others").val())
            };
            $.ajax({
                type: 'POST',
                data: JSON.stringify(json),
                contentType: 'application/json; charset=utf-8',
                dataType: 'JSON',
                url: '@controllers.routes.ExpensesController.saveExpenses()',
                complete: function(data){

                    new PNotify({
                        title: 'Regular Notice',
                        text: 'Check me out! I\'m a notice.'
                    });

                    var property = JSON.parse(data.responseText);
                },
                failure: function(errMsg){
                    alert(errMsg);
                }
            });
        });

        $('#btn-expense-add').on('click', function(){
            $('#myModal').modal().show()
            console.log("test");
        });

        function compileExpenses(event, data){

            console.log("test1");
            console.log(data);
            console.log(event);
            console.log("test1");
            var source   = $("#expenses-template").html();
            console.log(source);
            var template = Handlebars.compile(source);
            var context = data;
            var html = template(context);
            console.log(html);
                return html;
        };



        loadExpenses('loadExpenses',@property.id);
     });

</script>
